<div class="site-menu" id="site-menu" data-menu>
  <div class="site-menu__backdrop" data-menu-backdrop aria-hidden="true"></div>
  <nav class="site-menu__panel" aria-label="Primary">
    <ul class="site-menu__nav">
      <li class="site-menu__item">
        <a class="site-menu__link" data-menu-link data-nav-link="home" data-menu-close href="index.html">Home</a>
      </li>
      <li class="site-menu__item">
        <a class="site-menu__link" data-menu-link data-nav-link="about" data-menu-close href="about.html">About</a>
      </li>
      <li class="site-menu__item">
        <a class="site-menu__link" data-menu-link data-nav-link="services" data-menu-close href="services.html">Services</a>
      </li>
      <li class="site-menu__item">
        <a class="site-menu__link" data-menu-link data-nav-link="technology" data-menu-close href="technology.html">Technology</a>
      </li>
      <li class="site-menu__item">
        <a class="site-menu__link" data-menu-link data-nav-link="contacts" data-menu-close href="contacts.html">Contacts</a>
      </li>
      <li class="site-menu__item">
        <a class="site-menu__link" data-menu-link data-nav-link="sign-in" data-menu-close href="sign-in.html">Sign In</a>
      </li>
    </ul>

    <button type="button" class="btn btn-primary site-menu__cta" data-get-started data-menu-close>
      Get Started
    </button>
  </nav>
</div>
